/* Aquí irán los estilos que añada David*/
@font-face {
    /* font-family: "glyphicons halflings regular";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.svg") format("svg");*/
    } 

body{
  /* font-family:'GLYPHICONS Halflings' ; */
}

header{
  background-repeat: no-repeat;
  background-image: url('../images/back.jpeg');
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
  }
nav li {
    font-family:;
    font-style: italic;
    font-size: 1.6em;
    color: white;
    display: inline-block;
    margin-left: 45px;
    padding-top: 20px;
    list-style: none;
    position: relative;
  }
  .socialMedia{

  }
  footer{
    padding: 1.5em;
    font-size: 1.5em;
    color: white;
    background-color: #141939;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 auto;
  }
  footer .ayuda, .informacion,.suscribete{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }
  .ayuda{
    padding-left: 8em;
  }
  .ayuda p{
    padding-left: 0.8em;
  }
  .horario{
    padding-top: 2em;
    font-size: 0.6em;
  }
  footer input{
    font-size: 0.6em;
    padding: 0.5em;
    width: 80%;
  }
footer button{
  all:unset;
  color: black;
  background-color: #fef200;
  font-size: 1.3em;
  width: 51%;
  padding:0.4em 0.1em 0.4em 0.1em;
}
