/* Aquí irán los estilos que añada Jan*/


.destinos {
    text-align: center;
    background-color: #fff;
    padding: 3em 0em 1em 10em;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.destinos div{
    padding: 2em 0.5em 1em 0.5em;
}
.destinos div img{
    display: block;
}

.imagenes_destinos {
    width: 20em; height: 18em;
    z-index: -1;
}

.texto_destinos {
    z-index: +2;
    font-size: 1.4em;
}